/* GENERAL */
.lostAndFoundForm .button {
    background: #73443d;
    background: -moz-linear-gradient(top, #8b5a51, #663831);
    background: -webkit-gradient(linear, left top, left bottom, from(#8b5a51), to(#663831));
    border: 1px solid #321809;
    color: #fff;
    
    float: right;
    margin: 10px 0;
    padding: 4px 10px;
    width: auto;
}

.lostAndFoundForm .file {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* LOST AND FOUND FORM */
.lostAndFoundForm .step {
    border-bottom: 1px dashed #837264;
    clear: both;
    
    overflow: hidden;
    padding: 70px 10px;
    position: relative;
}
.lostAndFoundForm .step-number {
    background: url(../images/sprite.png) no-repeat 0 -60px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    
    display: block;
    float: left;
    height: 30px;
    margin-right: 64px;
    width: 26px;
}

.lostAndFoundForm .step-form { float: left; width: 850px; }
.lostAndFoundForm h2 { font-size: 20px; font-weight: bold; line-height: 30px; height: 30px; margin-bottom: 10px;  }
.lostAndFoundForm .widget { float: left; }
.lostAndFoundForm .widget label, .lostAndFoundForm .widget input { float: left; }
.lostAndFoundForm .widget input { width: 520px; }

.lostAndFoundForm label {
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    width: 130px;
}
.lostAndFoundForm .single-field label { font-size: 20px; font-weight: bold; }

.lostAndFoundForm input,
.lostAndFoundForm textarea {
    border: 1px solid #837264;
    -webkit-box-shadow: inset 0 0 4px #837264;
    -moz-box-shadow: inset 0 0 4px #837264;
    box-shadow: inset 0 0 4px #837264;
    color: #a2a99b;
    font-style: italic;
    
    height: 22px;
    padding: 3px 15px;
    width: 570px; /* 610 - 30 -2 -8 */
}


.lostAndFoundForm .where .errorLocating { display: none; }
.lostAndFoundForm .where .error input { border-right: none; width: 490px; }
.lostAndFoundForm .where .error .errorLocating { 
    background: red;
    border: 1px solid #837264;
    color: white;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    float: left;
    height: 28px;
    width: 30px;
.lostAndFoundForm #group_entry label {width: 200px; line-height: 48px;}
.lostAndFoundForm #group_entry input {
    width: 450px;
    font-size: 20px;
    line-height: 48px;
    padding: 10px;
}


.lostAndFoundForm .map {
    border: 1px solid #837264;
    float: left;
    height: 300px;
    margin: 10px 0 10px 140px;
    width: 550px;
}
.lostAndFoundForm .map img { border: 1px solid #837264; width: 100%; }
.lostAndFoundForm .date { 
    float: left; 
    padding: 40px 20px;
    margin: 0 0 0 120px;
}
.lostandfoundform .date p { font-weight: bold; }
.lostAndFoundForm .date .widget + .widget { margin-left: 10px; }
.lostAndFoundForm .date .widget label { width: 50px; }
.lostAndFoundForm .date .widget input { margin-left: 10px; width: 170px; }

.lostAndFoundForm .char-set { clear: both; overflow: hidden; width: 850px; }
.lostAndFoundForm .char-set + .char-set { margin-top: 10px; }
.lostAndFoundForm .char-set .widget input { width: 450px; }
.lostAndFoundForm .widget { float: left; }
.lostAndFoundForm .widget input { width: 520px; }
.lostAndFoundForm .char-set .widget + .widget input { margin-left: 10px; width: 240px; }
.lostAndFoundForm .char-set label { display: none; }

.lostAndFoundForm .actions { float: left; margin-left: 10px; }
.lostAndFoundForm .actions a { 
    background: url(../images/sprite.png) no-repeat -30px 0;
    text-indent: -9999px;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
}
.lostAndFoundForm .actions .add { background-position: -30px -60px; }
.lostAndFoundForm .actions .add:hover { background-position: -60px -60px; }
.lostAndFoundForm .actions .delete { background-position: -30px 0; }
.lostAndFoundForm .actions .delete:hover { background-position: -60px 0; }
